# Logs
logs
*.log

# Compiled output
dist
*.class
*.js
!*.cy.js
*.js.map

# Dependency directories
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store

clips

# Technigala
src/utils/topicToVideos.ts
